:root {
    --my-color: #55d49b;
  }

body{background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

    
.buttonCustom {
    background-color: #ffffff; 
    color: black; 
    border: 2px solid var(--my-color);
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.buttonCustom:hover {
    background-color: var(--my-color);
    color: rgb(0, 0, 0);
}